<header class="bg-gray-800 border border-1 border-red-500 text-white px-[10%]">
    <nav class="container mx-auto py-4 flex justify-between items-center">
        <div class="logo">
            <a href="/"><img src="../assets/logo.PNG" alt="" class="h-8"></a>
        </div>
        <ul class="flex space-x-4">
            <li>
                <a href="/">Home</a>
            </li>
            <li>
                <a href="https://github.com/Justin-Kuchmy" target="_blank" rel="noopener noreferrer">GitHub</a>
            </li>
            <li>
                <a href="https://www.linkedin.com/in/justin-kuchmy/" target="_blank" rel="noopener noreferrer">LinkedIn</a>
            </li>
        </ul>
    </nav>
</header>
<router-outlet></router-outlet> 

