<div class="fixed inset-0 flex items-center justify-center w-full bg-red-900 bg-opacity-100">
    <div class="fixed inset-1 "></div>
        <div class="rounded shadow-lg p-6  inset-2 bg-white">
            <h1 class="text-xl font-bold mb-4">{{Title}}</h1>
            <p>{{Message}}</p>
            <div class="flex justify-end mt-4">
            <button mat-button mat-dialog-close class="px-4 py-2 bg-blue-500 text-white rounded hover:bg-blue-600" (click)="closeDialog()">Close</button>
        </div>
    </div>
</div>
